<nav class="navbar">
	<h1 class="brand"><a href="/">Task-it</a></h1>
	<ul class="links">
		<% if (typeof username === "undefined") { %>
		<li><a href="/profile/login">Log-in</a></li>
		<% } else{%>
		<li>Profile</li>
		<li><a href="/api/user/logout">Log-out</a></li>
		<%} %>
	</ul>
</nav>