<div class="navbar">
	<div class="brand-container">
		<a href="/">
			<h1>Task-It</h1>
		</a>
		<% if (typeof username !== "undefined"){ %>
		<h1> <%= username%>!</h1>
		<%}%>
	</div>
	<% if (typeof username === "undefined") { %>
		<a class="links" href="/profile/login">Login</a>
		<% } else {%>
		<a class="links" href="/api/user/logout">Logout</a>

		<% } %>
	</div>