<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Links -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/components/form.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/button.css">

</head>

<body>
    <%- include('components/navbar')%>
    <div class="header">
        <div class="image-container">
            <H1>Personal Task Manager!</H1>
        </div>
        <div class="form-container">
            <form autocomplete="off" action="/api/user/register" method="POST">
                <h1>Sign Up Today!</h1>
                <!-- UserName -->
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" id="username" placeholder="Username" name="username" required>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address</label>
                    <input type="email" id="email" placeholder="Email" name="email" required>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" name="password" required>
                </div>
                <div class="button-container">
                    <button class="button-primary" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Register-->
    <!-- Heading for Form-->



    </div>


</body>

</html>