<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Links -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('components/navbar')%>
    <div class="header">
        <div class="image-container">
        </div>
        <div class="form-container">
            <form autocomplete="off" action="/api/user/register" method="POST">
                <h1>Sign Up Today!</h1>
                <!-- UserName -->
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Your Username">

                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Your Email">
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="button-container">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Register-->
    <!-- Heading for Form-->



    </div>


</body>

</html>