<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Links -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profilepage.css">
    <link rel="stylesheet" href="css/components/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/components/button.css">
    <link rel="stylesheet" href="/css/components/profile-head.css">
    <script defer src="/js/clipboardload.js"></script>
</head>

<body>
    <%- include('components/navbar') %>
    <h1>Welcome @<%= username%>!</h1>
    <div class="profile-head">
        <div class="button-container">
            <button class="button-primary">New Clipboard</button>
            <button class="button-primary">Remove Clipboard</button>
            <button class="button-primary">History</button>
        </div>

    </div>

    <div class="workspace">

    </div>

</html>
</body>

</html>