.image-container {
    margin:6rem;
    min-height: 20rem;
    width: 30rem;
    background-image: url(/img/task-board.svg);
    background-size: cover;
}
.image-container > h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
    transform: translateY(-55px);
}

