:root {
	--primary-color: rgb(235, 83, 83);
	--primary-light: #F5918C;
	--secondary-color: #CC3B3B;
	--secondary-ligth: #FAC2B5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
