.button-container {
    margin: 1rem 0rem;
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.button-primary {
    padding:0.35em 1.2em;
    background-color: #EB5353;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 1.2s;
    outline: none;
}

.button-primary:hover {
    cursor: pointer;
    color:#000000;
    background-color:#FFFFFF;
    
}
.button-primary:active{
    background-color: var(--primary-color);
}