.workspace {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clipboard-container {
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 5px 10px 18px #888888;
    color: white;
    width: 30rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}

.clipboard-title {
    padding: 0.8rem 0rem;
}

.delete-clipboard-button {
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border: none;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s ease;
}

.delete-clipboard-button::after {
    position: absolute;
    right: -0.5rem;
    top: 0rem;
    text-align: center;
    padding-top: 0.8rem;
    content: "delete";
    background-color: white;
    border-radius: 0.2rem;
    color: black;
    display: block;
    opacity: 0;
    width: 4rem;
    height: 2rem;
    pointer-events: none;
}

.delete-clipboard-button:hover::after {
    animation: fadeIn 300ms ease-in;
    animation-fill-mode: forwards;
}

.delete-clipboard-button:hover {
    background-color: var(--primary-light);
    cursor: pointer;
    border-radius: 0rem;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: left;
    min-height: 9rem;
}

.task {
    display: flex;
    border-top: solid white 2px;
    position: relative;
    height: 3rem;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.remove-task {
    height: 0rem;
    border: none;
}

.task-text {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 1.5rem;
}

.task-text:hover {
    cursor: pointer;
    background-color: var(--primary-light);
    padding-left: 2rem;
}

.done {
    text-decoration: line-through white;
}

.delete-task-button {
    position: absolute;
    right: -7rem;
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    height: 3rem;
    width: 10rem;
    border: none;
    outline: none;
    color: none;
    transition: all 0.4s ease-in-out;
    padding: 0rem 0rem 0rem 2rem;
}

.delete-task-button:hover {
    background-color: var(--primary-light);
    cursor: pointer;
    right: -2rem;
    user-select: none;
    padding: 0rem 2rem 0rem 0rem;
}

.delete-task-button::after {
    position: absolute;
    top: 1.4rem;
    left: 0.5rem;
    content: "";
    display: block;
    color: white;
    background-color: white;
    width: 1.8rem;
    height: 0.3rem;
    transition: all 0.3s ease-in-out;
}

.delete-task-button:hover::after {
    transform: rotate(-90deg);
    height: 0.2rem;
    width: 3.02rem;
    left: -1.4rem;
}

.task-input-container {
    margin: 2rem 0rem;
    height: 3rem;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 0rem;
    }

    68% {
        top: -3.5rem;
    }

    100% {
        opacity: 1;
        top: -3rem;
    }
}